---
layout: default
---
<article>
  <h2 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
  <details>
    <summary>
      <a href="http://www.cavigneaux.net">Nicolas Cavigneaux</a> on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time> in {{ page.categories | array_to_sentence_string | capitalize }}
    </summary>

    {% if page.tags != empty %}
    <ul class="post-tags">
      {% for tag in page.tags %}
        <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </details>

  <div class="post-content">{{ content }}</div>

  <h3 class="comments">Comments</h3>
  <section id="comments">
    <div id="disqus_thread"></div>
    <script>
     var disqus_config = function () {
       this.page.url = "{{ site.url }}{{ page.url }}";
       this.page.identifier = "{{ page.id }}";
     };
     (function() {
       var d = document, s = d.createElement('script');
       s.src = '//bounga.disqus.com/embed.js';
       s.setAttribute('data-timestamp', +new Date());
       (d.head || d.body).appendChild(s);
     })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments.</a></noscript>
  </section>
</article>
